/* Esto es para el label */
#label{
    margin: 1vh 0vw 1vh 3vw;
}

#label h5{
    text-align: center !important;
}

/* Esto es para el selector */
#especialidad{
    margin-left: 3vw;
    max-width: 50vw;
    font-size: 1.1em;
}

#especialidad * {
    font-size: 0.8em !important;
}

.encloser{
    max-width: 100vw;
    height: 100vh;
}

/* Contenedor del componente */
.cc{
    background-color: #faf5f5;
    min-height: 80vh;
    font-size: calc(10px + 2vmin);
    /* color: white; */
    min-width: 100vw;
}