/* Esto es para el selector */
#especialidad{
    max-width: 75vw;
    font-size: 1em;
    display: block;
    border: inset;
    border-radius: 5%;
    /* position: fixed; */
}

.opt{
    font-size: small;
    font-size: 0.9em;
}

/* Esto es para el label */
#label{
    margin-right: 0vw !important;
}

.encloser{
    max-width: 100vw;
}

.cc{    
    background-color: #faf5f5;
    min-height: 79vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
    min-width: 97vw;
}

Label * {
    margin-right: "300vw" !important;
}

.mb-2{
    margin-top: 2vh;
    margin-left: 3vw;
}
