.contenido {
    min-height: 93vh;
    background-color: #faf5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 100vw;
    padding-top: 2vh;   
}

div.card.text-white.card-body.bg-danger{
    width: 87vw;
}

div.card.text-white.card-body.bg-info{
    width: 87vw;
}

div.card.text-white.card-body.bg-warning{
    width: 87vw;
}

.divcarder{
    width: 87vw;
    margin-bottom: 2vh;
}

.divcarder p{
    padding-left: 7vw;
    padding-right: 2vw;
}

.cardhead{
    padding-top: 0.1vh;
    max-height: 5vh;
    background-color: lightpink;
}

div.card-title{
    max-height: 4vh;
    padding-bottom: 1vh !important;
}

p.card-text{
    font-size: 0.8em;
    padding-top: 1vh;
}

button.btn.btn-secondary{
    margin-bottom: 1vh;
    font-size: 0.9em;
}

button.btn.btn-danger {
    margin-bottom: 1vh;
    font-size: 0.9em;
}

button.btn.btn-secondary * {
    
}

.topper{
    max-height: 7vh;
    padding-top: -3vh;
}