.componentContent{
    background-color: #f9f5f4;
    min-height: 93vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-width: 100vw;
  }

  a{
    /* text-align: center; */
    color: black !important;
  }

.carder{
  border-width: 0rem;
  border-collapse: collapse;
  border-top: 0rem !important;
  border-bottom: 0rem !important;
  border-right: 0rem !important;

  width: 86vw;
  color: black;
}


li.list-group-item{
  background-color: #D7D7D7;
  padding: 0 inherit 0 inherit;
  height: 6vh;
}

li.list-group-item a{
  color: black;
} 