.container{
    width: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.cont{
    width: 100vw;
}

.th{
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.tb{
    font-family: sans-serif;
    color: black;
}

.bt{
    display: flex;
    justify-content: center;
}