
.dumbFott {
    position: relative;
    width: 100%;
    height: 7.5vh;
    background: 	#ffb9c9;
    /* border-radius: 50% / 10%; */
    color: white;
    text-align: center;
    text-indent: .1em;
    background-image: linear-gradient(#f0ccd4, 	#ffb9c9);
  }

  .homer {
      padding-top: 1.2vh;
  }