.componentContent{
    
}

.hsu{
    background-color: inherit !important;
    text-align: center;
    color:black;
    margin-bottom: 2vh;
    margin-top: -3vh;
}

.buthold{
    text-align: center;
}

#bs{
    text-align: center;
    margin-bottom: 2vh;
    width: 80vw;
}