.componentContent{
    min-height: 78vh;
    width: 88vw;
}
div.container-fluid.border.my-1.mr-2{
width: 90vw;
}

h4{
    background-color: inherit !important;
    text-align: center;
    color:black;
}

Label {
    color: black !important;
}

.buttonHoldera{
    text-align: center;
    margin: 2vh 0vw 1.5vh;
}

.buttonHoldera Button{
    width: 80vw;
}
/* .buttonHolderb{
    text-align: right;
    margin: 3vh 3vw 2vh;
} */